html, body {
    height: 100%;
    margin:0;
    font-family: Montserrat;
    font-weight: normal;
        }
    
    .navbar-brand{
    font-family: Montserrat;
    }
    
    .navbar-nav{
    font-family: Montserrat;
    }
    
    
      .navbar .navbar-nav .nav-link:hover::after {
        width: 100%;
      }
    
      @media only screen and (min-width: 960px) {
        .navbar .navbar-nav .nav-link {
          padding: 1em 0.7em;
        }
        .navbar {
          padding: 0;
        }
        .navbar .navbar-brand {
          padding: 0 0.7em;
        }
      }
     
      .navbar .navbar-nav .nav-link {
        transition: all 0.5s;
      }
    
      .navbar .navbar-nav .nav-link:hover {
        color: #FBFF39;
      }
     
      .navbar .navbar-nav .nav-link {
        position: relative;
      }
      .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #FBFF39;
        color: transparent;
        width: 0%;
        content: '';
        height: 4px;
        transition: all 0.5s;
      }
      .navbar .navbar-nav .nav-link:hover::after {
        width: 100%;
      }
    


    .row{
        text-align: justify;
        padding: 40px;
        line-height: 30px;
    }
    
    .jumbotron{
max-height: 90px;
    }

    hr {
      margin-top: -4rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 3px solid rgba(31, 107, 248, 0.1);
    }
    
    
    .socials {
    text-decoration: none;
      list-style: none;
      text-align: center;
      justify-content: center;
      padding-right: 2rem;
    }
    
   
    .socials li{
      margin: 0 10px;
      
    }
    
    .socials a{
      text-decoration: none;
      color: #FFFFFF;
      
    }
    
    .socials a i{
      font-size: 2.5rem;
      transition: color .4s ease;
      
    }
    
    .socials a:hover i{
      color: #FBFF39;
    }
    
    .lets-connect{
      color: #FFFFFF;
      text-align: center;
      padding-top: 1rem;
    }
    
    .footer-text{
      color: #FFFFFF;
      text-align: center;
    }

    .footer-copyright{
      color: #FFFFFF;
      text-align: center;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
      }

  
  /* .img-fluid{ */ */
    width: 370px;
    height: 350px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
  }

 